*.iml
*.apk
*.ap_
*.dex
*.class
.gradle
/local.properties
.idea/
/.idea/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/misc.xml
/.idea/deploymentTargetDropDown.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
bin/
gen/
out/
/captures
.externalNativeBuild
.cxx
local.properties
/app/google-services.json
/app/src/firebase/google-services.json
.navigation/
*.log
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/dictionaries
.idea/libraries
.idea/modules.xml
.idea/misc.xml
*.jks
repo