<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.weberbox.pifire">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.permission.CAMERA"
        android:requiredFeature="false"
        tools:targetApi="o" />

    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
        <intent>
            <action android:name="android.intent.action.OPEN_DOCUMENT_TREE" />
        </intent>
    </queries>

    <application
        android:name=".application.PiFireApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${appName}"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.PiFire"
        tools:targetApi="s">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="locked"
            android:theme="@style/Theme.PiFire.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.ServerSetupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PiFire.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.activities.PreferencesActivity"
            android:theme="@style/Theme.PiFire.SettingsTheme" />
        <activity
            android:name=".ui.activities.RecipeActivity"
            android:theme="@style/Theme.PiFire.Recipes" />
        <activity
            android:name=".ui.activities.ImagePickerActivity"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PiFire.NoActionBar"
            tools:ignore="LockedOrientationActivity" />

        <receiver
            android:name=".receiver.AppUpdateReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="io.sentry.auto-init"
            android:value="false" />
        <meta-data
            android:name="io.sentry.environment"
            android:value="${environment}" />

    </application>

</manifest>