<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.weberbox.pifire">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-feature android:name="android.permission.CAMERA"
        android:requiredFeature="false" />

    <application
        android:allowBackup="true"
        android:fullBackupOnly="true"
        android:name=".application.PiFireApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="${appName}"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PiFire"
        android:hardwareAccelerated="true"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.PiFire.Starting"
            android:launchMode="singleTask"
            android:exported="true"
            android:label="${appName}">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.ServerSetupActivity"
            android:theme="@style/Theme.PiFire.NoActionBar">
        </activity>
        <activity
            android:name=".ui.activities.PreferencesActivity"
            android:theme="@style/Theme.PiFire.SettingsTheme">
        </activity>
        <activity
            android:name=".ui.activities.InfoActivity"
            android:theme="@style/Theme.PiFire.NoActionBar">
        </activity>

        <receiver android:name=".receiver.AppUpdateReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <data android:scheme="package" android:path="${pathName}" />
            </intent-filter>
        </receiver>

    </application>

</manifest>