<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.weberbox.pifire">

    <application
        android:allowBackup="true"
        android:fullBackupOnly="true"
        android:name="com.weberbox.pifire.application.PiFireApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="${appName}"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PiFire"
        android:hardwareAccelerated="true"
        android:usesCleartextTraffic="true" >
        <service
            android:name=".service.FirebaseNotificationService"
            android:exported="false"
            tools:node="merge" >
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent"
            tools:node="merge" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_grill"
            tools:node="merge" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/notification_channel_id"
            tools:node="merge" />

    </application>

</manifest>