<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name="com.weberbox.pifire.application.PiFireApplication"
        tools:ignore="AllowBackup,MissingApplicationIcon">

        <meta-data android:name="com.onesignal.NotificationServiceExtension"
            android:value="com.weberbox.pifire.service.NotificationServiceExtension" />

    </application>

</manifest>